.container
  %h1 Messages box

  - if @over_ten
    = link_to 'Show Previous', '?m=all'

  .ui.segment.col-md-6
    - @messages.each do |message|
      - if message.body
        - user = User.find(message.user_id)

        .item
          .media
            .media-left.pull-left
              = image_tag user.avatar.url(:thumb), size: "55x55", class: 'img-circle'
            .media-body
              %i
                = message.message_time
              %p
                = message.body

    = form_for [@conversation, @message], html: {class: "ui reply form"} do |f|
      .field
        = f.text_area :body, class: "form-control"
        = f.text_field :user_id, value: current_user.id, type: "hidden"
      %div
        = f.submit "Reply", class: "ui blue labeled submit icon button btn btn-primary"
