= simple_form_for @blog, html: { multipart: true } do |f|
  - if @blog.errors.any?
    #error_explanation
      %h2
        = pluralize(@blog.errors.count, "error")
        prohibited this blog from being saved:
      %ul
        - @blog.errors.full_messages.each do |message|
          %li= message

  #section-add-place
    %hr/
    .col-lg-8.col-lg-offset-2
      = f.input :title
      = f.input :body, as: :ckeditor
      / = f.input :body
      = f.association :city, collection: manageable_cities_by(current_user)

      %hr/
      = f.input :image

      .clearfix
        = f.submit "Post", class: "btn btn-success"
        = link_to 'Back', root_path, class: "btn btn-default btn-xs pull-right"
