<%= render 'layouts/navbar'%>
<div id="section-one">
    <div id="section-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="hidden-lg"><br><br></div>
          <div align="center" class="searchbar">
              <%= form_tag search_path, :method => :get do %>
              <p>
                <%= text_field_tag :search, params[:search], class: "form-group search-form", placeholder: "Have you tried Turkish Coffee? Search ..." %>
                <%= submit_tag "Search", class: "btn btn-default search-btn" %>
              </p>
            <% end %>
          </div>
          <div align="center" class="col-lg-6 col-lg-offset-3">
            <h2><strong><%= @blog.title %></strong></h2>
            <hr>
            <%= image_tag @blog.img.url(:medium), size: "700x515", class: "img-responsive" %>
            <br><br>
          </div>
          <div class="col-lg-6 col-lg-offset-3">
            <h4><%= @blog.body %></h4>
          </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_blog_path(@blog) %> |
    <%= link_to 'Back', blogs_path %>
  <% end %>
</div>
