- set_meta_tags title: @blog.title,
                description: @blog.description,
                keywords: @blog.title.to_s.split(' ').join(',')
= render 'review_and_rating'

#section-one
  #section-content
    .row
      .col-lg-12
        .container
          .media
            .media-left.pull-left
              = link_to (image_tag @blog.user.avatar.thumb, size: "55x55", class: "creator"), @blog.user

            .media-body
              %h5.media-heading
                %small Created by:
                = link_to @blog.user.full_name, @blog.user

              %p.creator-blog
                %small
                  Posted: #{time_ago_in_words(@blog.created_at)} ago

        .col-lg-6.col-lg-offset-3{align: "center"}
          %h2
            %strong= @blog.title
          %hr/
          = image_tag @blog.image.medium, size: "700x515", class: "img-responsive"
          %br/
          %br/
        .col-lg-6.col-lg-offset-3
          %p= raw @blog.body

      .col-lg-8.col-lg-offset-2
        .container.comment-section
          %h6 Comments &amp; reviews :

          %hr/

          #comments
            = render partial: @blog.comments

          - if user_signed_in?
            .col-lg-5
              = form_for [@blog, BlogComment.new] do |f|
                = f.text_field :title, :label => "Title", as: :string, placeholder: "Title (title can't be blank)", class: "form-control"
                %br/
                = f.text_area :description, :label => "Comment", as: :text, input_html: { rows: "4" }, placeholder: "Description (description can't be blank)", class: "form-control"
                %h5
                  Rate me
                  %small (Higher is better)
                = f.select :number, ((1..5).map {|i| [i,i] }), class: "form-control"
                %br/
                %br/
                = f.submit "Add Comment", class: "btn btn-success"
.container
  %br/
  - if current_user && current_user.admin?
    = link_to 'Edit', edit_blog_path(@blog)
    |
    \#{link_to 'Back', blogs_path}|
    \#{link_to 'Delete', @blog, method: :delete, data: { confirm: 'Are you sure?' }}
