<%= render 'layouts/navbar'%>
<%= bootstrap_devise_error_messages! %>

<div id="section-one">
    <div id="section-sign-up" class="sign_up">
      <div class="row">
        <div  class="col-lg-6 col-lg-offset-3">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
          <div class="col-lg-6">
            <div class="input-group input-group-sm">
              <h5>First Name</h5>
              <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name" %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="input-group input-group-sm">
              <h5>Last Name</h5>
              <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="input-group input-group-sm">
              <h5>Email</h5>
              <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="input-group input-group-sm">
              <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i><br />
              <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="input-group input-group-sm">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, class: "form-control"  %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="input-group input-group-sm">
              <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>)</i>
              <%= f.password_field :current_password, class: "form-control" %>
            </div>
          </div>
          <div align="center" class="align">
            <%= f.submit t('.update', :default => "Update"), class: "btn btn-primary" %>
            <% end %>
          </div>
          <p><%= t('.unhappy', :default => 'Unhappy') %>? <%= link_to t('.cancel_my_account', :default => "Cancel my account"), 
                                registration_path(resource_name),
                                :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") },
                                :method => :delete %>.</p>
          <%= link_to t('.back', :default => 'Back'), :back %>
        </div>
      </div>
    </div>
  </div>
  
  <br><hr>
  
  <div class="container comment-section">
    <h6>My Comments &amp; reviews :</h6>
    <hr>
    <div id="comments">
      <% if current_user.comments.any? %>
        <% current_user.comments.each do |comment| %>
          <%= div_for(comment) do %>
            <div class="media">
             <div class="media-body">
               <h5 class="media-heading" style="font-weight: bold;"><%= h(comment.title) %> 
                 <% if comment.number == 1 %>
                   <%= image_tag("star-on.png") %>
                 <% elsif comment.number == 2 %>
                   <%= image_tag("star-on.png") %>
                   <%= image_tag("star-on.png") %>
                 <% elsif comment.number ==3 %>
                   <%= image_tag("star-on.png") %>
                   <%= image_tag("star-on.png") %>
                   <%= image_tag("star-on.png") %>
                 <% elsif comment.number == 4 %>
                   <%= image_tag("star-on.png") %>
                   <%= image_tag("star-on.png") %>
                   <%= image_tag("star-on.png") %>
                   <%= image_tag("star-on.png") %>
                 <% elsif comment.number == 5 %>
                   <%= image_tag("star-on.png") %>
                   <%= image_tag("star-on.png") %>
                   <%= image_tag("star-on.png") %>
                   <%= image_tag("star-on.png") %>
                   <%= image_tag("star-on.png") %>
                 <% end %>
               </h5>
               <p><%= h(comment.description) %></p>
               <p><small>Posted: <%= time_ago_in_words(comment.created_at) %> ago, for <%= link_to comment.place.name, comment.place %></small></p>
             </div>
            </div>
            <hr>
          <% end %>
        <% end %>
      <% else %>
        <h4>You do not have any reviews yet.</h4>
      <% end %>
    </div>
  </div>
