<%= div_for(comment) do %>
  <div class="media">
   <div class="media-body">
     <h5 class="media-heading" style="font-weight: bold;"><%= h(comment.title) %> 
       <% if comment.number == 1 %>
         <%= image_tag("star-on.png") %>
       <% elsif comment.number == 2 %>
         <%= image_tag("star-on.png") %>
         <%= image_tag("star-on.png") %>
       <% elsif comment.number ==3 %>
         <%= image_tag("star-on.png") %>
         <%= image_tag("star-on.png") %>
         <%= image_tag("star-on.png") %>
       <% elsif comment.number == 4 %>
         <%= image_tag("star-on.png") %>
         <%= image_tag("star-on.png") %>
         <%= image_tag("star-on.png") %>
         <%= image_tag("star-on.png") %>
       <% elsif comment.number == 5 %>
         <%= image_tag("star-on.png") %>
         <%= image_tag("star-on.png") %>
         <%= image_tag("star-on.png") %>
         <%= image_tag("star-on.png") %>
         <%= image_tag("star-on.png") %>
       <% end %>
     </h5>
     <p><%= h(comment.description) %></p>
     <p><small>Posted: <%= time_ago_in_words(comment.created_at) %> ago by <%= h(comment.user.full_name) %></small></p>
   </div>
  </div>
  <hr>
<% end %>
