= form_for(@comment) do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2
        = pluralize(@comment.errors.count, "error")
        prohibited this comment from being saved:
      %ul
        - @comment.errors.full_messages.each do |message|
          %li= message
  .container
    .form-group
      = f.label :title
      %br/
      = f.text_field :title, autofocus: true, class: "form-control"
    .form-group
      = f.label :description
      %br/
      = f.text_area :description, class: "form-control"
    .actions
      = f.submit
