.container
  %h1 Mailbox
  - if @conversations.present?
    %ol
      - @conversations.each do |conversation|
        %li
          - new_message = ""
          - if conversation.messages.last.try(:user_id) != current_user.id and conversation.messages.last.try(:read) == false
            - new_message = "(have new messages)"
          - if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id
            - if conversation.sender_id == current_user.id
              - recipient = User.find(conversation.recipient_id)
            - else
              - recipient = User.find(conversation.sender_id)

            .media
              .media-left.pull-left
                = link_to recipient do
                  = image_tag recipient.avatar.url(:thumb), size: "55x55", class: 'img-circle'
                  %center
                    %sub= recipient.first_name

              .media-body
                %i= new_message
                %br
                = link_to "Compose", conversation_messages_path(conversation), class: 'btn btn-primary'

  - else
    %p You have no conversations.
