.products
  - for product in products
    .card.col-md-3
      .hovereffect
        = image_tag product.default_image.path, size: "200x134"
        .overlay
          %h2= product.name

      %h4{:align => "center"}= link_to product.name, product_path(product.product_category.permalink, product.permalink)
      %p.price= number_to_currency product.price
      - if product.orderable?
        = link_to "Add", buy_product_path(product.product_category.permalink, product.permalink), :class => 'add btn btn-default', :method => :post