- @page_title = 'Checkout'
= render 'orders/checkout_sidebar'

.checkout
  - if params[:success] == "true" && params[:PayerID].present?
    %p Payment will be processed by PayPal
    = link_to "Continue", checkout_confirmation_path
  - else
    %h3 Pay using your credit/debit card
    = form_for @order, :url => checkout_payment_path, :html => {:class => 'checkout form-horizontal col-md-6'} do |f|
      = field_set_tag nil, :class => 'payment' do
        %dl.form-group
          %dt= label_tag 'card_number', "Full Card Number"
          %dd.number= text_field_tag 'card_number', '', :name => nil, class: 'form-control'

        %dl.form-group
          %dt= label_tag 'exp_month', "Expiry Date (mm/yyyy)"
          %dd.expiry.row
            .col-md-6= select_tag nil, options_for_select((1..12).to_a), class: 'form-control'
            .col-md-6= select_tag nil, options_for_select((Date.today.year..Date.today.year + 10).to_a), :class => 'year form-control'

        %dl.form-group
          %dt= label_tag 'cvc', "Security Code"
          %dd.cvc.row
            .col-md-8= text_field_tag 'cvc', '', :name => nil, :maxlength => 4, class: 'form-control'
            .col-md-4 This is the 3 digit number on the back of your card.

      .row
        %p.submit= f.submit "Review your order", :class => 'review btn btn-primary'

        %p
          = link_to "Pay with PayPal", checkout_paypal_path, class: 'btn btn-default'
