= simple_form_for(@city) do |f|
  - if @city.errors.any?
    #error_explanation
      %h2
        = pluralize(@city.errors.count, "error")
        prohibited this city from being saved:
      %ul
        - @city.errors.full_messages.each do |message|
          %li= message

  #section-add-city
    %hr/
    .row
      .col-lg-10.col-lg-offset-1
        .row
          .col-xs-12
            = f.input :name
            = f.input :slug, label: 'Subdomain'
            = f.input :country
            = f.input :about, label: 'Why would you like to add your city ?'

          .col-lg-4
            = f.input :lat, label: 'Latitude'

          .col-lg-4
            = f.input :lng, label: 'Longitude'

          .col-lg-4
            = f.input :distance, label: 'Radius (unit: km)'

          .col-xs-12
            = f.submit "Next", class: "btn btn-success"
            %br/
            %hr/
            = link_to 'Cancel, go to home', root_path, class: "btn btn-default btn-xs"
