<nav class="navbar navbar-default nav-color">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul>
        <%= link_to (image_tag ("logo.png")), root_path, class: "navbar-brand" %>
        <h1 class="city-name"><%= @city.city_name %></h1>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <h4><% link_to "Have you tried Turkish Coffee? Search ...", search_path, class: "nav-search" %></h4>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "All categories", categories_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Create new category", new_category_path %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "All categories", categories_path %></li>
            <% end %>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Places<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'View all places', places_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Add Place', new_place_path %></li>
            </ul>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cities<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'View all cities', cities_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Add City', new_city_path %></li>
            </ul>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Edit my account', edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "All cities", cities_path %></li>
          <li><%= link_to "All categories", categories_path %></li>
          <li><%= link_to 'Register', new_user_registration_path %></li>
          <li><%= link_to 'Log In', new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="section-one">
    <div id="section-content">
      <div class="row">
        <div class="col-lg-12">
          <div align="center" class="container searchbar">
                <%= form_tag search_path, :method => :get do %>
                <p>
                  <%= text_field_tag :search, params[:search], class: "form-group search-form", placeholder: "Have you tried Turkish Coffee? Search ..." %>
                  <%= submit_tag "Search", class: "btn btn-default search-btn" %>
                </p>
              <% end %>
              </div>
          <div class="col-lg-9 col-md-12 col-sm-12">
            <% @places.each do |place| %>
            <% if place.city.downcase == @city.city_name.downcase %>
              <div class="card">
                <div class="hovereffect">
                  <%= image_tag place.image.url(:thumb), size: "200x134" %>
                  <div class="overlay">
                    <h2>TurkishSpot</h2>
				            <p>
				              <%= pluralize(place.comments.count, "Review") %>
				              <% if place.average_rating.to_f > 4.5 %>
				              <span class="fa fa-star"></span>
				              <span class="fa fa-star"></span>
				              <span class="fa fa-star"></span>
				              <span class="fa fa-star"></span>
				              <span class="fa fa-star"></span>
                      <% elsif (place.average_rating.to_f < 4.5) and (place.average_rating.to_f > 3.5) %>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <% elsif (place.average_rating.to_f < 3.5) and (place.average_rating.to_f > 2.5) %>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <% elsif (place.average_rating.to_f < 2.5) and (place.average_rating.to_f > 1.5) %>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <% elsif (place.average_rating.to_f < 1.5) %>
                      <span class="fa fa-star"></span>
                      <% end %>
				            </p>
                  </div>
                </div>
                <h4 align ="center"><%= link_to place.name, place, :method => :get %></h4>
                <% if place.categories.any? %>
                  <h6 align="center"><%= render place.categories %></h6>
                <% end %>
              </div>
              <% end %>
              <% end %>
          </div>
          <div class="side-nav col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5">
              <h5><%= link_to 'Cities', cities_path, class: "link" %></h5>
              <% @cities.each do |city| %>
                <h6><%= link_to city.city_name.capitalize, city %> (<small><%= pluralize(city.countPlace, "place") %></small>)</h6>
              <% end %>
              <h6><%= link_to 'View all cities', cities_path %></h6>
              <br>
              <h5><%= link_to "Categories", categories_path, class: "link" %></h5>
              <% @cate.each do |category| %>
                <h6><%= link_to category.name, category %> (<small><%= pluralize(category.places.count, "place") %></small>)</h6>
              <% end %>
              <h6><%= link_to 'View all categories', categories_path %></h6>
            </div>
            <% if user_signed_in? %>
              <div align="center" class="col-md-7">
                <h4>Hello, <%= current_user.full_name %></h4>
              </div>
            <% else %>
              <div align="center" class="col-md-7">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
                <div class="login">
                  <%= f.email_field :email, placeholder: "Your Email", class: "form-control" %>
                </div>
                <div class="login">
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Your password", class: "form-control" %>
                </div>
                <div class="checkbox">
                  <%= f.label :remember_me do %>
                    <%= f.check_box :remember_me %>Remember me
                  <% end %>
                </div>
                <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-default pull-right" %>
                <% end %>
                <br>
                <%= link_to t(".forgot_your_password", :default => "Forgot your password?"), new_password_path(resource_name) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="apple_pagination" align="center">
  <%= will_paginate @places %>
</div>