- @category_places.each do |place|
  .card
    .hovereffect
      = image_tag place.image.thumb

      .overlay
        %h2 TurkishSpot
        %p
          = pluralize(place.comments.count, "Review")
          - if place.average_rating.to_f > 4.5
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
          - elsif (place.average_rating.to_f < 4.5) and (place.average_rating.to_f > 3.5)
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
          - elsif (place.average_rating.to_f < 3.5) and (place.average_rating.to_f > 2.5)
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
          - elsif (place.average_rating.to_f < 2.5) and (place.average_rating.to_f > 1.5)
            %span.fa.fa-star
            %span.fa.fa-star
          - elsif (place.average_rating.to_f < 1.5)
            %span.fa.fa-star

    .card-info
      %h4{:align => "center"}= link_to place.name, place

      - if place.categories.any?
        %h6{:align => "center"}= render place.categories

.apple_pagination{:align => "center"}
  = paginate @category_places
