%p#notice= notice
%p
  %strong Title:
  = @blog_comment.title
%p
  %strong Description:
  = @blog_comment.description
= link_to 'Edit', edit_blog_comment_path(@blog_comment)
|
= link_to 'Back', blog_comments_path
