= simple_form_for @place, html: { multipart: true }  do |f|
  #section-add-place
    %hr/
    .col-lg-10.col-lg-offset-1
      %form
        .col-lg-12
          = f.input :name

        .col-lg-12
          = f.input :about

        .col-lg-3
          = f.association :city

        .col-lg-3
          = f.input :phone

        .col-lg-3
          = f.input :address

        .col-lg-12
          .form-group
            %label Link to map
            = f.gmap_coordinate_picker lat_column: 'lat', lng_column: 'lng' , zoom_level: 12, default_coordinates: [cookies[:latitude] || f.object.lat || '9.9333', cookies[:longitude] || f.object.lng || '-84.0833'], map_width: 800

        .col-lg-3
          = f.input :facebook

        .col-lg-3
          = f.input :twitter

        .col-lg-3
          = f.input :instagram

        .col-lg-3
          = f.input :web, label: 'Website'

          %h5.danger (*) Please provide web URLs with http:// or https://

        .col-lg-3 &nbsp;

        .col-xs-12
          %hr

          .clearfix
            %label Categories (max 3)

          = f.association :categories, as: :check_boxes, label: false

        .col-xs-12
          %hr/
          = f.input :image

        .col-xs-12
          %hr/
          .open_days
            / = f.simple_fields_for :open_days do |ff|
            /   = ff.input :day_in_week, collection: Enum::Place::DAY_NAME[:options], as: :check_boxes
            / %label{ for: 'open_day_attributes' } Open days
            - Enum::Place::DAY_NAME[:options].each do |day|
              = f.simple_fields_for :open_days, f.object.open_days.build do |ff|
                / = ff.link_to_add
                .row
                  .col-xs-2
                    / %input{ type: "checkbox", name: "place[open_days_attributes][]", value: day }
                    / = day
                    = ff.input :open, as: :boolean, label: day, input_html: { checked: @place.open_days.where(day_in_week: day).any? }
                    = ff.input :day_in_week, as: :hidden, input_html: { value: day }
                    / = ff.input :day_in_week

                  .col-xs-2
                    = ff.input :start_time

                  .col-xs-2
                    = ff.input :end_time
                  / - @open_days.each do |open_day|
                  / .form-inline.active
                  /   .row
                  /     .col-md-2
                  /       / = open_f.hidden_field :day_in_week, value: open_day.day_in_week.to_s

                  /       %label
                  /         / = open_day.day_in_week.to_s
                  /         = open_f.check_box :day_in_week

                  /     .col-md-1
                  /       = open_f.time_select :start_time,  { ampm: true, discard_minute: true, ignore_date: true }, { class: 'form-control' }

                  /     .col-md-1
                  /       = open_f.time_select :end_time,  { ampm: true, discard_minute: true, ignore_date: true }, { class: 'form-control'}

        .col-xs-12
          = f.submit "Submit", class: "btn btn-success"
          = link_to 'Back', places_path, class: "btn btn-default btn-xs pull-right"

/ :javascript
/   loadCurrentLocation()
