= simple_form_for @place, html: { multipart: true }  do |f|
  #section-add-place
    %hr/
    .col-lg-10.col-lg-offset-1
      %form
        .col-lg-12
          = f.input :name

        .col-lg-12
          = f.input :about

        .col-lg-3
          = f.association :city

        .col-lg-3
          = f.input :phone

        .col-lg-3
          = f.input :address

        .col-lg-12
          .form-group
            %label Link to map
            = f.gmap_coordinate_picker lat_column: 'lat', lng_column: 'lng' , zoom_level: 12, default_coordinates: [cookies[:latitude] || f.object.lat || '9.9333', cookies[:longitude] || f.object.lng || '-84.0833'], map_width: 800

        .col-lg-3
          = f.input :facebook

        .col-lg-3
          = f.input :twitter

        .col-lg-3
          = f.input :instagram

        .col-lg-3
          = f.input :web, label: 'Website'

          %h5.danger (*) Please provide web URLs with http:// or https://

        .col-lg-3 &nbsp;

        .col-xs-12
          %hr

          .clearfix
            %label Categories (max 3)

          = f.association :categories, as: :check_boxes, label: false

        .col-xs-12
          %hr/
          = f.input :image
          = image_tag @place.image.thumb unless @place.image.blank?

        .col-xs-12
          %hr/
          .open_days.row
            = f.simple_fields_for :business_hour, @business_hour do |ff|
              - Enum::Place::DAY_NAME[:options].each do |day|
                .col-xs-2
                  = ff.input eval(":#{day}")

                .col-xs-2
                  = ff.input eval(":#{day}_open"), label: false

                .col-xs-2
                  = ff.input eval(":#{day}_close"), label: false

        .col-xs-12
          = f.submit "Submit", class: "btn btn-success"
          = link_to 'Back', places_path, class: "btn btn-default btn-xs pull-right"

:javascript
  loadCurrentLocation()
