.nested-fields
  .slider-box
    = f.hidden_field :user_id, value: current_user.id
    .form-group
      = f.label :image
      = f.file_field :image, class: "form-control"
      -if f.object.image.exists?
        = image_tag f.object.image, size: "500x150"
    .form-group
      = f.label :position
      = f.number_field :position, class: "form-control"
    = link_to_remove_association "Remove slider", f
