.col-md-2.nested-fields.file-box
  = f.hidden_field :user_id, value: current_user.id
  .form-group
    = f.label :image
    = f.file_field :image, class: "form-control"

    - if f.object.image.exists?
      = image_tag f.object.image.url(:thumb), class: 'img-responsive'

  = link_to_remove_association "Remove", f
