<p id="notice"><%= notice %></p>

<div id="section-one">
    <div id="section-content">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="col-lg-9 col-md-12 col-sm-12">
            <% @places.each do |place| %>
              <div class="card">
                <div class="hovereffect">
                  <%= image_tag place.image.url(:thumb), size: "200x134" %>
                  <div class="overlay">
                    <h2>TurkishSpot</h2>
				            <p><%= link_to "Read More", place %></p> 
                  </div>
                </div>
                <h4 align ="center"><%= link_to place.name, place %></h4>
                <h5 align="center">Content body text</h5>
              </div>
              <% end %>
          </div>
          <div class="side-nav col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5">
              <h5>Cities</h5>
              <h6>Istambul</h6>
              <h6>Toronto</h6>
              <h6>New York</h6>
              <br>
              <h5>Categories</h5>
              <h6>Restaurant</h6>
              <h6>Cafe</h6>
              <h6>Art</h6>
            </div>
            <% if user_signed_in? %>
              <div align="center" class="col-md-7">
                <h4>Hello, <%= current_user.full_name %></h4>
              </div>
            <% else %>
              <div align="center" class="col-md-7">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
                <div class="login">
                  <%= f.email_field :email, placeholder: "Your Email", class: "form-control" %>
                </div>
                <div class="login">
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Your password", class: "form-control" %>
                </div>
                <div class="checkbox">
                  <%= f.label :remember_me do %>
                    <%= f.check_box :remember_me %>Remember me
                  <% end %>
                </div>
                <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-default pull-right" %>
                <% end %>
                <br>
                <%= link_to t(".forgot_your_password", :default => "Forgot your password?"), new_password_path(resource_name) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="apple_pagination" align="center">
  <%= will_paginate  %>
</div>

<br>

<%= link_to 'New Place', new_place_path %>
