- set_meta_tags title: @place.name,
                description: @place.about,
                keywords: @place.name.to_s.split(' ').join(', ')

= render 'review_and_rating'

#section-one
  #section-content
    .row
      .col-lg-12
        .col-lg-9

          .description
            %h4{:align => "left"}
              %strong= @place.name

            // Slider ##
            / - if has_feature?(@place.user, "add-photo-slider") and @place.sliders.present?
            .place-slider-wrapper
              = render "slider"

            / - else
            = image_tag @place.image.medium, class: "img-responsive"

            // Map ##
            .google-maps
              = render_gmap_coordinate_picker lat_column: 'lat', lng_column: 'lng' , zoom_level: 12, default_coordinates: [(@place.lat || 0), (@place.lng || 0)], map_width: 500

          // description ##
          .desciption
            %h4 About
            %h6
              %small
                This place was created by: #{@place.owner.full_name}

            - if @place.categories.any?
              %p
                Categories: #{render @place.categories}

            .ratestar
              %h5.score= @place.average_rating

            // about ##
            %p= @place.about.html_safe

            // address ####
            %hr/
            %h5
              %strong Country:
              = @place.city.country

            %h5
              %strong City:
              = @place.city.name

            %h5
              %strong Address:
              = @place.address

            %h5
              %strong Phone:
              = @place.phone

            - if @place.facebook.present? || @place.twitter.present? || @place.instagram.present? || @place.web.present?
              %hr/
              %h6
                %strong Follow us on:

              - if @place.facebook.present?
                %h6.social
                  = link_to "https://facebook.com/#{@place.facebook}", target: :_blank do
                    = icon 'facebook'
                    %span= @place.name

              - if @place.twitter.present?
                %h6.social
                  = link_to "https://twitter.com/#{@place.twitter}", target: :_blank do
                    = icon 'twitter'
                    %span= @place.twitter

              - if @place.instagram.present?
                %h6.social
                  = link_to "https://instagram/#{@place.instagram}", target: :_blank do
                    = icon 'instagram'
                    %span= @place.instagram

              - if @place.web.present?
                %h6.social
                  = link_to @place.web, target: :_blank do
                    = icon 'link'
                    %span= @place.web

            %hr/
            %div
              - if @open_days.present?
                - @open_days.each do |open_day|
                  %h6
                    %strong= "#{open_day.day_in_week}"
                    = " #{open_day.start_time.strftime("%I%p")}-#{open_day.end_time.strftime("%I%p")}"

            %hr/

            #claim
              %button.btn.btn-primary.btn-lg{"data-target" => "#claim-modal", "data-toggle" => "modal", type: "button"} Claim

              / - if user_signed_in? && current_user == @place.user
              - if user_signed_in?
                = link_to 'Edit', edit_place_path, class: 'btn btn-lg btn-edit'

        .side-nav.col-lg-3.visible-lg
          .col-md-5
            %h5= link_to 'Cities', cities_path, class: "link"
            - @cities.each do |city|
              %h6
                = link_to city.name.capitalize, city
                (
                %small>= pluralize(city.countPlace, "place")
                )
            %h6= link_to 'View all cities', cities_path
            %br/
            %h5= link_to "Categories", categories_path, class: "link"
            - @cate.each do |category|
              %h6
                = link_to category.name, category
                (
                %small>= pluralize(category.places.count, "place")
                )
            %h6= link_to 'View all categories', categories_path

          - if user_signed_in?
            .col-md-7{:align => "center"}
              %h4
                Hello, #{current_user.full_name}
              = link_to 'Back', :back

              - if current_user.has_role? :admin
                %br/
                = link_to 'Delete', @place, method: :delete, data: { confirm: 'Are you sure?' }

          - else
            .col-md-7{:align => "center"}
              = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f|
                .login
                  = f.email_field :email, placeholder: "Your Email", class: "form-control"
                .login
                  = f.password_field :password, autocomplete: "off", placeholder: "Your password", class: "form-control"
                .checkbox
                  = f.label :remember_me do
                    = f.check_box :remember_me
                    Remember me
                = f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-default pull-right"
              %br/
              = link_to t(".forgot_your_password", :default => "Forgot your password?"), new_password_path(resource_name)

      .col-lg-10
        .container.comment-section
          %h6 Comments &amp; reviews :
          %hr/
          #comments
            = render partial: @place.comments

          - if user_signed_in?
            .col-lg-5
              = form_for [@place, Comment.new] do |f|
                = f.text_field :title, :label => "Title", as: :string, placeholder: "Title (title can't be blank)", class: "form-control"
                %br/
                = f.text_area :description, :label => "Comment", as: :text, input_html: { rows: "4" }, placeholder: "Description (description can't be blank)", class: "form-control"
                %h5
                  Rate me
                  %small (Higher is better)
                = f.select :rating, ((1..5).map {|i| [i,i] }), class: "form-control"
                %br/
                %br/
                = f.submit "Add Comment", class: "btn btn-success"

= render "claim_modal"
