- set_meta_tags title: @place.title,
                description: @place.description,
                keywords: @place.title.to_s.split(' ').join(',')
= render 'review_and_rating'
.container
  = bootstrap_flash
#section-one
  #section-content
    .row
      .col-lg-12
        .col-lg-8
          .description
            %h4{:align => "left"}
              %strong= @place.name
            -if has_feature?(@place.user, "add-photo-slider") and @place.sliders.present?
              .place-slider-wrapper
                = render "slider"
            -else
              = image_tag @place.image.url(:medium), size: "640x426", class: "img-responsive"
            .google-maps
              = render_gmap_coordinate_picker :lat_column => 'latitude', :lng_column => 'longitude' , :zoom_level => 12, :default_coordinates => [@place.latitude, @place.longitude], map_width: 500
          .desciption
            %h4 About
            %h6
              %small
                This place was created by: #{@place.user.full_name}
            - if @place.categories.any?
              %p
                Categories: #{render @place.categories}
            .ratestar
              %h5.score= @place.average_rating
            %p= @place.about
            %hr/
            / - if current_user
            /   %strong
            /     Rate this place:
            /     - link_to '(here)', @place, :method => :get, :class => 'badg'
            /   = rating_for @place, "name", disable_after_rate: false, :star_path => '/images'
            %hr/
            %h5
              %strong Country:
              = @place.country.capitalize
            %h5
              %strong City:
              = @place.city.city_name.capitalize rescue ''
            %h5
              %strong Address:
              = @place.address.capitalize
            %h5
              %strong Phone:
              = @place.phone

            - if (@place.fb.size > 2) || (@place.twit.size > 2) || (@place.insta.size > 2) || (@place.web.size > 2)
              %h6
                %strong Follow us on:

            - if @place.fb.size > 2
              %h6= link_to "Facebook", @place.fb, target: "_blank"

            - if @place.twit.size > 2
              %h6= link_to "Twitter", @place.twit, target: "_blank"

            - if @place.insta.size > 2
              %h6= link_to "Instagram", @place.insta, target: "_blank"

            - if @place.web.size > 2
              %h6= link_to "My website", @place.web, target: "_blank"
            %hr/
            #claim
              %button.btn.btn-primary.btn-lg{"data-target" => "#claim-modal", "data-toggle" => "modal", :type => "button"} Claim
            / %hr/
            / %div
            /   - @open_days.each do |open_day|
            /     %h6
            /       %strong= "#{open_day.day_in_week}"
            /       = " #{open_day.start_time.strftime("%I%p")}-#{open_day.end_time.strftime("%I%p")}"
            / - if !user_signed_in? or (user_signed_in? and current_user.id != @place.user_id)
            /   %hr/
            /   = form_for @shopping_cart do |f|
            /     = hidden_field_tag :place_id, @place.id
            /     .actions
            /       = f.submit 'Add to Cart', class: 'btn btn-primary'
        .side-nav.col-lg-4.visible-lg
          .col-md-5
            %h5= link_to 'Cities', cities_path, class: "link"
            - @cities.each do |city|
              %h6
                = link_to city.city_name.capitalize, city
                (
                %small>= pluralize(city.countPlace, "place")
                )
            %h6= link_to 'View all cities', cities_path
            %br/
            %h5= link_to "Categories", categories_path, class: "link"
            - @cate.each do |category|
              %h6
                = link_to category.name, category
                (
                %small>= pluralize(category.places.count, "place")
                )
            %h6= link_to 'View all categories', categories_path
          - if user_signed_in?
            .col-md-7{:align => "center"}
              %h4
                Hello, #{current_user.full_name}
              = link_to 'Back', :back
              - if current_user == @place.user
                %br/
                = link_to 'Edit', edit_place_path
                %br/
                = link_to 'Delete', @place, method: :delete, data: { confirm: 'Are you sure?' }
          - else
            .col-md-7{:align => "center"}
              = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f|
                .login
                  = f.email_field :email, placeholder: "Your Email", class: "form-control"
                .login
                  = f.password_field :password, autocomplete: "off", placeholder: "Your password", class: "form-control"
                .checkbox
                  = f.label :remember_me do
                    = f.check_box :remember_me
                    Remember me
                = f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-default pull-right"
              %br/
              = link_to t(".forgot_your_password", :default => "Forgot your password?"), new_password_path(resource_name)
      .col-lg-10.col-lg-offset-1
        .container.comment-section
          %h6 Comments &amp; reviews :
          %hr/
          #comments
            = render :partial => @place.comments
          - if user_signed_in?
            .col-lg-5
              = form_for [@place, Comment.new] do |f|
                = f.text_field :title, :label => "Title", as: :string, placeholder: "Title (title can't be blank)", class: "form-control"
                %br/
                = f.text_area :description, :label => "Comment", as: :text, input_html: { rows: "4" }, placeholder: "Description (description can't be blank)", class: "form-control"
                %h5
                  Rate me
                  %small (Higher is better)
                = f.select :number, ((1..5).map {|i| [i,i] }), class: "form-control"
                %br/
                %br/
                = f.submit "Add Comment", class: "btn btn-success"
= render "claim_modal"
