<div id="section-one">
    <div id="section-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-9">
            <div class="description">
              <h4 align="left"><strong><%= @place.name %></strong></h4>
              <% if @place.image.url(:medium) %>
                <%= image_tag @place.image.url(:medium), size: "640x426" %>
              <% else %>
                <%= image_tag("noImage.jpg") %>
              <% end %>
              <div class="google-maps">
                <iframe style="border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Toronto,+ON,+Canada&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
              </div>
            </div>
            <div class="desciption">
              <h4>About</h4>
              <h6><small>This place was created by: <%= @place.user.full_name %></small></h6>
              <% if @place.categories.any? %>
                <p>Categories: <%= render @place.categories %></p>
              <% end %>
              <p><%= @place.about %></p>
              <hr>
              <% if current_user %>
                <strong>Rate this place: <% link_to '(here)', @place, :method => :get, :class => 'badg' %> </strong> <%= rating_for @place, "name", disable_after_rate: false %>
              <% end %>
              <hr>
              <h5><strong>Country: </strong> <%= @place.country.capitalize %></h5>
              <h5><strong>City: </strong><%= @place.city.capitalize %></h5>
              <h5><strong>Address: </strong><%= @place.address.capitalize %></h5>
              <h5><strong>Phone: </strong><%= @place.phone %></h5>
              <h6><strong>Follow us on: </strong></h6>
              <h6><%= link_to "Facebook", @place.fb, target: "_blank" %></h6>
              <h6><%= link_to "Twitter", @place.twit, target: "_blank" %></h6>
              <h6><%= link_to "Instagram", @place.insta, target: "_blank" %></h6>
              <h6><%= link_to "My website", @place.web, target: "_blank" %></h6>
            </div>
          </div>
          <div class="side-nav col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5">
              <h5><%= link_to 'Cities', cities_path, class: "link" %></h5>
              <% @cities.each do |city| %>
                <h6><%= link_to city.city_name.capitalize, city %></h6>
              <% end %>
              <h6><%= link_to 'View all cities', cities_path %></h6>
              <br>
              <h5><%= link_to "Categories", categories_path, class: "link" %></h5>
              <% @cate.each do |category| %>
                <h6><%= link_to category.name, category %></h6>
              <% end %>
              <h6><%= link_to 'View all categories', categories_path %></h6>
            </div>
            <% if user_signed_in? %>
              <div align="center" class="col-md-7">
                <h4>Hello, <%= current_user.full_name %></h4>
                <%= link_to 'Back', :back %>
                <% if current_user == @place.user %>
                  <br>
                  <%= link_to 'Edit', edit_place_path %>
                  <br>
                  <%= link_to 'Delete', @place, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
            <% else %>
              <div align="center" class="col-md-7">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
                <div class="login">
                  <%= f.email_field :email, placeholder: "Your Email", class: "form-control" %>
                </div>
                <div class="login">
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Your password", class: "form-control" %>
                </div>
                <div class="checkbox">
                  <%= f.label :remember_me do %>
                    <%= f.check_box :remember_me %>Remember me
                  <% end %>
                </div>
                <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-default pull-right" %>
                <% end %>
                <br>
                <%= link_to t(".forgot_your_password", :default => "Forgot your password?"), new_password_path(resource_name) %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
          <div class="comment-section">
            
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
