#section-one
  #section-content
    .col-md-6
      .form-group.row
        = form_tag nil, method: :get do
          %label.col-md-2 PERIOD
          .col-md-10
            = select_tag :period, options_for_select([['Daily', 1], ['Weekly', 2], ['Monthly', 3], ['3 month', 4], ['12 month', 5]], params[:period]), class: 'form-control auto-submit', include_blank: true

  #section-content
    .col-md-12
      .form-group
        %h4 Place views
        - places = {}
        - current_user.places.each {|place| places[place.subdomain] = place.place_views.in_period(params[:period]).count }
        = column_chart places

  #section-content
    .col-md-12
      .form-group
        %h4 Visit from Feature Mode
        - places = {}
        - current_user.places.each {|place| places[place.subdomain] = place.place_views.in_period(params[:period]).featured.count }
        = column_chart places

  #section-content
    .col-md-12
      .form-group
        %h4 Genders analysis
        - places = []
        - places = [true, false].map { |item|  {name: (item == true ? 'Male' : 'Female'), data: current_user.places.map {|place| users = place.place_views.in_period(params[:period]).map(&:user).compact.uniq; [place.subdomain, users.select{|item| item.gender == item}.count] }}}
        = column_chart places, stacked: true, colors: ["red", "green"]

  #section-content
    .col-md-12
      .form-group
        %h4 Search Keywords
        - data = {}
        - logs = SearchLog.where(place_id: current_user.place_ids).in_period(params[:period]).group(:keyword).count
        = column_chart logs