%nav.navbar.navbar-default.nav-color
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %ul
        = link_to (image_tag ("turkishspot1.png")), root_path, class: "navbar-brand"

    .searchbar{:align => "center"}
      - url = request[:controller] == 'products' ? products_path : search_path
      = form_tag url, :method => :get do
        = text_field_tag :search, params[:search], class: "form-group search-form", placeholder: "Have you tried Turkish Coffee? Search ..."
        = submit_tag "Search", class: "btn btn-default search-btn"

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Products', products_path
        - if user_signed_in?
          - if has_role?(:admin)
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Categories
                %span.caret
              %ul.dropdown-menu
                %li= link_to "All categories", categories_path
                %li.divider{:role => "separator"}
                %li= link_to "Create new category", new_category_path
          - else
            %li= link_to "All categories", categories_path
          - if has_role?(:admin, :mayor)
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Blogs
                %span.caret
              %ul.dropdown-menu
                %li= link_to "All blogs", blogs_path
                %li.divider{:role => "separator"}
                %li= link_to "Create new blog", new_blog_path
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Places
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'View all places', places_path
              %li.divider{:role => "separator"}
              %li= link_to 'Add Place', new_place_path
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Cities
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'View all cities', cities_path
              %li.divider{:role => "separator"}
              %li= link_to 'Add City', new_city_path
          %li.dropdown
            - unread = Conversation.to_me(current_user.id).count
            - unread = unread > 0 ? "<b>{#{unread}}</b>" : ''

            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = raw "#{unread} Account"
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'My Profile', my_profile_path
              %li= link_to 'My Friends', my_friends_path

              %li= link_to raw("My Conversations #{unread}"), conversations_path
              %li.divider{:role => "separator"}
              %li= link_to 'Edit my account', edit_user_registration_path
              %li.divider{:role => "separator"}
              %li= link_to 'Log Out', destroy_user_session_path, method: :delete
        - else
          %li= link_to "All cities", cities_path
          %li= link_to "All categories", categories_path
          %li= link_to 'Register', new_user_registration_path
          %li= link_to 'Log In', new_user_session_path

        %li
          = link_to carts_path, class: 'cart-icon' do
            = image_tag('cart-32x32.png')
            %i.sub= pluralize current_order.total_items, 'item'